/*création du reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    text-decoration: none; 
    list-style: none;
}

/*espacement de 1200px max pour laisser la place a d'eventuelle publicitée*/
header{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    z-index: 1000;
    top:0;
}

main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.container_navbar{
    background-color: white;
 
}
/*mise en place de flex box bour la barre nav et le logo*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Vous pouvez ajuster ce padding selon vos besoins */
    
}
/*mise en place de flex pour que les elements de la liste soit en ligne*/
.navbar ul {
    display: flex;  
}
/* Espacement entre les éléments de la liste*/
.navbar a {
    margin-left: 20px;
    color: grey;
    text-decoration: none;
}
.navbar a:hover {
    padding-top: 10px;
    border-top: 3px solid #1a5976;
    color: #1a5976;
    font-weight: 600;
}
.carousel {
    display: flex;
    position: relative;
    width: 100%;
    max-width:1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
/*mise en display flex pour la mise en page des élèments enfants*/
.carousel-items {
    display: flex;
}
/*largeur minimum a 100% pour avoir une photo par page*/
.carousel-item {
    min-width: 100%;
    position: relative;
}
/*largeur et hauteur des images et positionnement*/
.card {
    position: relative;
    width: 100%;
    height: 100%;
}

.card img {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}
/*mise en page des elements textuels*/
.card-content {
    position: absolute;
    bottom: 20px;
    left: 50px;
    color: #fff;
    padding: 20px;
    border-radius: 50%;
    height:60%;
    max-width: 300px;
}
.blue{
    background-color: #ffffff38;
    color:#1a5976;
    font-weight:900;
    font-size: 1.4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.white{
    color:white;
    font-weight: bold;
    font-size: 1rem;
}
.little{
    font-size: 0.6rem;
}
button {
    background-color:#1a5976 ;
    color: white;
    padding:5px 10px;
    font-size: 1.3em;
}
.fa-solid{
    color:white;
    font-size: 2rem;
}

.fa-circle-chevron-left{
    position:absolute;  
    top:50%;
    left:0;
    z-index: 10;
}
.fa-circle-chevron-right{
    position:absolute;  
    top:50%;
    right:0;
    z-index:11;
}
.card-content-replace{
    opacity: 0;
}

/*mise en page par flex de la deuxieme partie de la 1ere section*/
.service, .project, .contact{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5em;
    padding-bottom: 1em;
    text-align: center;
}
h2{
    color:#1a5976
}
/*separation entre service et texte avec une construction de 2 cercles et un trait avec des positions*/
.line_seperate {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1.5em 0;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #1a5976;
    position: absolute;
    z-index: 3;
    animation: slide infinite 6s alternate ease;
    
}
@keyframes slide {
    0% { translate:100px; }
    100% { translate:-100px; }
  }
.line {
    width: 200px;
    height: 2px;
    background-color: rgb(123, 120, 120);
    position: absolute;
    z-index: 0;
    animation:slidein 5s ease-in-out infinite;
}

/*mise en page en 3 colonnes du contenu du service avec un display flex*/
.container_service_bloc{
    display:flex;
    padding-top: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.container_list{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;
    padding-top: 0px;
}
/*faire les ronds autour de l'icone*/
.icone_ux, .icone_ui, .icone_seo{
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    gap:20px;
    margin:10px;
}
.icone_one{
    display: flex;
    padding: 5px;
    position: relative;
 
}  
/* petit cercle au dessus du gros cercle gris*/
.cercle1 {
    border-radius: 50%;
    border: 0.4em solid #1a5976;
    position: absolute;
    z-index: 2;
    bottom: 42px;
    left: 17px;
}

/*gros cercles gris qui entoure les icones*/
.cercle2 {
    width: 50px;
    height: 50px;
    border: 2px solid grey;
    border-radius: 50%;
    border-top:none;
    border-right:none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    animation: rotateCircles 4s linear infinite;
}
@keyframes rotateCircles {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*positionnement des icones*/
.fa-chart-line, .fa-cubes, .fa-chart-pie{
    color:#1a5976;
    position: sticky;
    padding-top: 22%;
    padding-left:21%;
    font-size: 1.6em;
}
/*coloration et taille du bloc de la nav*/
.container_project{
    background-color: rgb(232, 225, 225);
}
.grey{
    background-color: rgb(223, 220, 220);
    max-width: 470px; 
    margin-left: auto; 
    margin-right: auto;
}
/*disposition de la navbar2*/
.navbar2 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    margin-bottom: 3em;
}
/*mettre en ligne les elements et une margin du bloc*/
.navbar2 ul {
    display: flex;
    flex-wrap: wrap; 
    margin: 10px;
    padding: 0;
}
.navbar2 li {
    flex: 1 1 auto;
    min-width: 100px; 
    max-width: calc(100% / 4 - 20px);
}
/*mise en forme des elements de la nav bar et l espacement des elements*/
.navbar2 a {
    color: rgb(109, 107, 107);
    padding: 15px;
    margin: 5px;
    text-align: center;
    display: block; 
}
/*mise en page de l'hover*/
.navbar2 a:hover {
    padding-top: 10px;
    background-color: #1a5976;
    font-weight: 600;
    color: white;
}
/*mise en flex de la galerie pour avoir 2 lignes*/
.galery{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3em;
}
/*definition de la taille des images*/
.galery img{
    width:260px;
    margin:10px;
}
/*definir une position relative pour permettre au enfant d'avoir une position absolute*/
.galery figure{
    position: relative;
    margin:10px 
}

 /* Ajoute de l'espace entre le <p> et le <h4> */ 
figcaption p {
    margin-top: 10px; 
  }
/*mise en page de la figcaption*/
.galery figcaption{
    position: absolute;
    bottom: -100px; /*(en dehors de la vue)*/
    left:0;
    right:0;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.488);
    color:white;
    width: 260px;
    height: 100px;
    padding:10px;
    text-align: center;
    margin:10px;
    transition: bottom 0.3s ease-in-out; /* Animation de transition qui part du bas */
    opacity: 0; /* pour ne pas la voir mise d'une opacité de zéro*/

}
/*mise en page du hover*/
.galery figure:hover figcaption  {
    bottom: 5px;
    opacity: 1; /*pour faire apparaitre l'opacité de 1*/ 
}
/*mise en page de l icone sur figcaption*/
figcaption i {
    position: absolute;
    right: 10px; 
    bottom: 10px; 
    font-size: 20px; 
}

/*definition d'une position relative pour pouvoir mettre mon formulaire en absolute*/

.container_contact{
    width:100%;
}


.container_maps {
    width: 100%;
    height: 37em;
    display: flex;
    position:relative;
}

.maps{
    display: flex;
    width: 100%;
    background-color: #363e4fd0;
    
}

iframe{
    height: 37em;
    width: 100%;
    opacity: 0.5;
}

form{

    justify-content: center;
    position:absolute;
    background-color: rgba(231, 226, 226, 0.466);
    align-items: flex-start;
    margin:10px;
    padding: 10px;
    height: auto;
    width:17em;
    top:10px;
    right:10px;
    
}
.forms{
    display:flex;
    flex-direction: column;
    width: auto;
}

.form h2,h3,p{
    margin:10px;
}
.information{
font-size:1.5em;
text-align: center;
}
input,textarea{
    margin:10px 0;
    font-size: 1em;
}
/*mise en page du footer*/
footer{
    text-align: center;
    color: #737373;
    font-size: 1.5em;
    padding: 15px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

/* Ecrans en dessous de 640px */
@media (max-width: 640px) {
    body{
        width:100%;
        height:100%;;
    }
    .navbar {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .navbar ul {
        display: flex;
        margin: 10px;
        padding: 0;
        justify-content: space-between;
    }
    .card-content{
        opacity:0;
    }
    .card-content-replace{
        opacity:1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
    }
    .card-content-replace h2{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
  
    .card-content-replace p,
    .white {
        color:#1a5976;
        font-size: 14px;
        text-align: center;
    }
    .control i{
        font-size: 1em;
    }
    .service, .project{
        width:100%;
        padding:10px;
        margin:0;
    }
  
    .container_image img{
        width:100%;
        
    }
    .navbar2 ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    button{
        font-size:0.8rem;
    }
    .container_service_bloc {
        flex-direction: column;
        width:100%;
    }
}
/* Ecrans 641px à 1023px */
@media (min-width: 641px) and (max-width: 1023px) {
    .galery figure {
        text-align: center;
    }
    figcaption {
        text-align: center;
    }
    .navbar{
        display: flex;
        justify-content: center;
    }
    .navbar ul {
        flex-wrap: wrap;
    }

    .navbar2 ul {
        flex-wrap: none;
        justify-content: space-between;
    }

    .container_service_bloc {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .container_list {
        margin: 20px 0;
    }

    .galery img {
        width: 350px;
        margin: 5px;
    }

    .galery figcaption {
        width: 100%;
        margin:5px;
        height:50%;
    }
    .galery figcaption h4,p{
        font-size: 1.3rem;
    }
}
/* Ecrans 1024px à 1439px */
@media (min-width: 1024px) and (max-width: 1439px) {
.galery img{
    width: 350px;
}
}